<!DOCTYPE html>
<html html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>冰夜Home</title>

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="width: 80%">

    <div class="container" style="width: 80%">
        <div class="jumbotron">
            <h1>冰夜汉化<img src="../../static/img/emoji/rilegou.jpg" th:src="'/img/emoji/rilegou.jpg'" style="height: 55px;width: 55px"/></h1>
            <p><span class="glyphicon glyphicon-plus"></span>招募群号247504438</p>
            <p><span class="glyphicon glyphicon-arrow-down"></span>猛戳链接进主页</p>
            <p><a class="btn btn-primary btn-lg" href="/index" role="button">主页</a></p>
        </div>
    </div> <!-- /container -->
</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>