<!DOCTYPE HTML>
<html lang="zh-cn"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache" />
    <META HTTP-EQUIV="Expires" CONTENT="0" />

    <title>冰夜Home</title>

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <!--slider-->
    <link rel="stylesheet" href="../static/css/ideal-image-slider.css" th:href="'/css/ideal-image-slider.css'"/>
    <link rel="stylesheet" href="../static/css/default.css" th:href="'/css/default.css'"/>
</head>
<body>
<div class="container" style="width: 80%">

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#">主页</a></li>
        <li role="presentation"><a href="/bbs2">留言板</a></li>
        <li role="presentation"><a href="/manage">管理员入口</a></li>
        <!--<li role="presentation"><a href="/test">测试入口</a></li>-->
    </ul>
    <br/>



    <!--<div class="row">-->
        <!--<div align="center">-->
            <!--<img class="img-responsive" src="../static/img/logo.png" alt="Logo" th:src="'/img/logo.png'" style="height: 300px; width: 400px"  />-->
        <!--</div>-->
    <!--</div>-->
    <!--slider-->
    <div class="row" id="slider" style="max-height: 320px; margin:0 auto;">
        <img class="sliding" style="width: 100px" src="../static/img/logo.png" th:src="'/img/logo.png'" alt="logo1" />
        <img class="sliding" style="width: 100px" data-src="../static/img/logo2.png" th:attr="data-src='/img/logo2.png'" src="" alt="logo2" />
        <img class="sliding" style="width: 100px" data-src="../static/img/logo3.jpg" th:attr="data-src='/img/logo3.jpg'" src="" alt="slide3" />
        <!--<img class="sliding" data-src="../static/img/jinMen/logo.jpg" src="" alt="人面">-->
        <!--<a href="http://example.com"><img data-src="img/4.jpg" src="" alt="Links work too"></a>-->
    </div>
    <br/>

    <table class="table table-hover">

        <!--<table class="table table-hover">-->
        <!--<img src="../../static/img/jinMen/logo.jpg" alt="img" />-->
        <tr th:each="m:${mangas}">
            <td>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="../static/img/jinMen/logo.jpg" th:src="${m.getLogoPath()}" alt="test" style="height: 200px"/>
                    </div>
                    <div class="col-xs-6">
                        <ul class="list-group">
                            <li class="list-group-item" th:utext="${m.name}">Name</li>
                            <li class="list-group-item" th:utext="${m.comment}">Comment</li>
                            <li class="list-group-item">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary" role="button">MORE</a>
                                    <a href="#" class="btn btn-default" role="button" th:href="${m.url}">URL</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!--slider-->
<script src="../static/js/ideal-image-slider.min.js" th:src="'/js/ideal-image-slider.min.js'"></script>
<script>
    var slider = new IdealImageSlider.Slider('#slider');
    slider.start()
</script>
</body>
</html>